.container {
    margin: 0;
    justify-content: space-evenly;
    display: flex;
}

.navbar-collapse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
}

.nav-item {
    padding: 30px;
}

.row {
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    margin: 0px;
    height: 200px;
    width: 200px;
    justify-content: center;
    padding: 0;
}

.col-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titre {
    height: 200px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.expertises {
    width: 500px;
}

.sectionExpertise {
    background-color: rgb(222, 217, 211);
    padding-bottom: 150px;
}

.footer-widgets {
    padding: 50px;
    margin: 0;
    background-color: rgb(115, 156, 223);
    height: 200px;
    align-items: center;
}
.full-width-footer {
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
}

.text {
    font-size: 20px;
}

.text-80 {
    width: 80%;
    margin: 0 auto;
}
  
.photo-pair {
    margin-bottom: 20px; 
}

.photo {
    background-color: rgb(222, 217, 211);
}

@keyframes slideFromRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.nav-item {
    animation: slideFromRight 1.2s ease;
    animation-fill-mode: forwards;
}

.expertise-item {
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
}

.double-quote-bas {
    transform: scaleX(-1);  
}

.where {
    background-color: rgb(222, 217, 211) ;
    padding-bottom: 100px;
}

.btnMention {
    background-color: rgb(116, 116, 219);
    border-radius: 10px;
    color:antiquewhite;
}

.mentionLegale {
    background-color:rgb(222, 217, 211);
    padding-bottom: 50px;
}

.titreMention {
    text-decoration: underline;
}